<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="eng2" class="in.vishal.beans.PetrolEngine" primary="true" />

	<bean id="eng1" class="in.vishal.beans.DieselEngine"  />

	<bean id="car" class="in.vishal.beans.Car" autowire="constructor" />

</beans>